footer {
  text-align: center;
  padding: 40px;
}

.social-icon {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
}

.social-list {
  text-align: center;
  padding-left: 0;
  margin-left: 0;
  
}

.contact {
  margin-bottom: 15px;
  color: #908F8F;
}

.contact:hover {
  margin-bottom: 15px;
  color: #6d6b6b;
  text-decoration: none;
}

.footer-social-media {
  margin: 15px;
}
