header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/71821013_133606938014623_5008626676880375808_o.jpg?_nc_cat=104&_nc_sid=cdbe9c&_nc_ohc=2nm_RBLGA4AAX-sW4A0&_nc_ht=scontent-bru2-1.xx&oh=fb115dcbbd9f8637681bfee003658796&oe=5F559896);
  object-fit: cover;
  color: white;
  padding: 40px 0;
}

.no-bottom-m {
  margin-bottom: 0;
}

.header-text {
  text-align: center;
}



